body {
    padding-bottom: 5em;
}

.communication .sentence {
    display: inline;
}
.communication .tokenization {
    display: inline;
}
.communication .tokenization_container {
    display: inline;
}
.section + .section {
    padding-bottom: 1em;
}

.selected_entity {
    background-color: yellow;
    border-top: 1px solid #DDDDDD;
}

.communication_container {
    border: 2px solid #CCCCCC;
    padding: 1em;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
}
